<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eu.modelwriter.core.alloyinecore.ui.editor.AIEEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="ecore"
            icon="icons/sample.gif"
            id="eu.modelwriter.core.alloyinecore.ui.editors.AlloyInEcoreEditor"
            name="AlloyInEcore Editor">
      </editor>
      <editor
            class="eu.modelwriter.core.alloyinecore.ui.editor.instance.AIEInstanceEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            icon="icons/sample.gif"
            id="eu.modelwriter.core.alloyinecore.ui.editors.AlloyInEcoreInstanceEditor"
            name="AlloyInEcore Instance Editor">
      </editor>
      <editor
            class="eu.modelwriter.core.alloyinecore.ui.editor.instance.AIEVisualizationEditor"
            default="false"
            icon="icons/sample.gif"
            id="eu.modelwriter.core.alloyinecore.ui.editors.visualizationeditor"
            name="AlloyInEcore Visualization Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="eu.modelwriter.core.alloyinecore.ui.editor.parsererror"
            colorPreferenceKey="aie.annotation.colorPreference"
            colorPreferenceValue="255,0,0"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="AIE Parse Error Annotation"
            overviewRulerPreferenceKey="aie.annotation.overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="2"
            symbolicIcon="error"
            textPreferenceKey="aie.annotation.textPreference"
            textPreferenceValue="true"
            textStylePreferenceKey="aie.annotation.textStyle"
            textStylePreferenceValue="SQUIGGLES"
            verticalRulerPreferenceKey="aie.annotation.verticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="eu.modelwriter.core.alloyinecore.ui.editor.typererror"
            colorPreferenceKey="aie.annotation.te.colorPreference"
            colorPreferenceValue="255,0,0"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="AIE Type Error Annotation"
            overviewRulerPreferenceKey="aie.annotation.te.overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="2"
            symbolicIcon="error"
            textPreferenceKey="aie.annotation.te.textPreference"
            textPreferenceValue="true"
            textStylePreferenceKey="aie.annotation.te.textStyle"
            textStylePreferenceValue="SQUIGGLES"
            verticalRulerPreferenceKey="aie.annotation.te.verticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="eu.modelwriter.core.alloyinecore.ui.editor.typewarning"
            colorPreferenceKey="aie.annotation.tw.colorPreference"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="AIE Type Warning Annotation"
            overviewRulerPreferenceKey="aie.annotation.tw.overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="2"
            symbolicIcon="warning"
            textPreferenceKey="aie.annotation.tw.textPreference"
            textPreferenceValue="true"
            textStylePreferenceKey="aie.annotation.tw.textStyle"
            textStylePreferenceValue="SQUIGGLES"
            verticalRulerPreferenceKey="aie.annotation.tw.verticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="eu.modelwriter.core.alloyinecore.ui.editor.unsaterror"
            colorPreferenceKey="aie.annotation.ue.colorPreference"
            colorPreferenceValue="255,0,0"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="AIE Unsat Error Annotation"
            overviewRulerPreferenceKey="aie.annotation.ue.overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="2"
            symbolicIcon="error"
            textPreferenceKey="aie.annotation.ue.textPreference"
            textPreferenceValue="true"
            textStylePreferenceKey="aie.annotation.ue.textStyle"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="aie.annotation.ue.verticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="1"
            markerType="eu.modelwriter.core.alloyinecore.ui.editor.parseerrormarker"
            name="eu.modelwriter.core.alloyinecore.ui.editor.parsererror"
            super="org.eclipse.ui.workbench.texteditor.error">
      </type>
      <type
            markerSeverity="0"
            name="eu.modelwriter.core.alloyinecore.ui.editor.typewarning"
            super="org.eclipse.ui.workbench.texteditor.warning">
      </type>
      <type
            markerSeverity="1"
            name="eu.modelwriter.core.alloyinecore.ui.editor.typererror"
            super="org.eclipse.ui.workbench.texteditor.error">
      </type>
      <type
            markerSeverity="1"
            markerType="eu.modelwriter.core.alloyinecore.ui.editor.unsaterrormarker"
            name="eu.modelwriter.core.alloyinecore.ui.editor.unsaterror"
            super="org.eclipse.ui.workbench.texteditor.error">
      </type>
   </extension>
   <extension
         id="eu.modelwriter.core.alloyinecore.ui.editor.visualizationmarker"
         name="Generated EObject"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="eu.modelwriter.core.alloyinecore.ui.editor.parseerrormarker"
         name="AlloyInEcore Parse Error"
         point="org.eclipse.core.resources.markers">
         <super type="org.eclipse.core.resources.problemmarker" />  
    <super type="org.eclipse.core.resources.textmarker" />  
    <persistent value="true" />
   </extension>
   <extension
         id="eu.modelwriter.core.alloyinecore.ui.editor.unsaterrormarker"
         name="AlloyInEcore Unsat Formula"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="eu.modelwriter.core.alloyinecore.ui.editor.outline.AIELabelDecorator"
            id="eu.modelwriter.core.alloyinecore.ui.outlinedecorator"
            label="AIE Outline Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="eu.modelwriter.core.alloyinecore.structure.base.Element">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="eu.modelwriter.core.alloyinecore.ui.preferences.AIEPrefPage"
            id="eu.modelwriter.core.alloyinecore.ui.prefpage"
            name="Alloy In Ecore">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eu.modelwriter.core.alloyinecore.ui.preferences.AIEPrefInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="eu.modelwriter.core.alloyinecore.ui.toolbar.reasonxmi">
            <command
                  commandId="eu.modelwriter.core.alloyinecore.ui.openinstancesmodelwithaieeditor"
                  icon="icons/full/aie.png"
                  label="Open Model with AlloyInEcore editor"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="active.part.is.editorpart.and.active.editor.is.visualizationeditor.or.active.editor.is.reflectiveeditor">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.modelwriter.core.alloyinecore.ui.visualizexmiinstance"
                  icon="icons/full/hierarchy.png"
                  label="Show on Graph"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="active.part.is.editorpart.and.active.editor.is.reflectiveeditor">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.modelwriter.core.alloyinecore.ui.showreflectiveeditor"
                  icon="icons/full/hierarchy.png"
                  label="Show EMF Tree"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="active.part.is.editorpart.and.active.editor.is.visualizationeditor">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.modelwriter.core.alloyinecore.ui.openwithaieeditor"
                  icon="icons/full/aie.png"
                  label="Open with AlloyInEcore editor"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="active.part.is.editorpart.and.active.editor.is.ecoreeditor">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.modelwriter.core.alloyinecore.ui.openwithecoreeditor"
                  icon="icons/full/aie.png"
                  label="Open with Ecore editor"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="active.part.is.editorpart.and.active.editor.is.aieeditor">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.modelwriter.core.alloyinecore.ui.reasonxmiinstance"
                  icon="icons/full/reasoning.gif"
                  label="Reason XMI Instance"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="active.part.is.editorpart.and.active.editor.is.visualizationeditor.or.active.editor.is.reflectiveeditor">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.modelwriter.core.alloyinecore.ui.restorexmiinstance"
                  icon="icons/full/restore.png"
                  label="Restore XMI Instance"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="active.part.is.editorpart.and.active.editor.is.visualizationeditor.or.active.editor.is.reflectiveeditor">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.modelwriter.core.alloyinecore.ui.previousxmiinstance"
                  icon="icons/full/prev.png"
                  label="Previous XMI Instance Solution"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="active.part.is.editorpart.and.active.editor.is.visualizationeditor.or.active.editor.is.reflectiveeditor">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.modelwriter.core.alloyinecore.ui.stopiteratingxmiinstance"
                  icon="icons/full/stop.png"
                  label="Stop Iterating XMI Instance Solutions"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="active.part.is.editorpart.and.active.editor.is.visualizationeditor.or.active.editor.is.reflectiveeditor">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.modelwriter.core.alloyinecore.ui.nextxmiinstance"
                  icon="icons/full/next.png"
                  label="Next XMI Instance Solution"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="active.part.is.editorpart.and.active.editor.is.visualizationeditor.or.active.editor.is.reflectiveeditor">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.modelwriter.core.alloyinecore.ui.clearcacheofthisinstance"
                  icon="icons/full/clear.png"
                  label="Clear Cache Of This Instance"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="active.part.is.editorpart.and.active.editor.is.visualizationeditor.or.active.editor.is.reflectiveeditor">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.modelwriter.core.alloyinecore.ui.clearinferredscache"
                  icon="icons/full/bin.png"
                  label="Clear Inferreds Cache"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eu.modelwriter.core.alloyinecore.ui.ReasonXMIInstanceHandler"
            commandId="eu.modelwriter.core.alloyinecore.ui.reasonxmiinstance">
      </handler>
      <handler
            class="eu.modelwriter.core.alloyinecore.ui.RestoreXMIInstanceHandler"
            commandId="eu.modelwriter.core.alloyinecore.ui.restorexmiinstance">
      </handler>
      <handler
            class="eu.modelwriter.core.alloyinecore.ui.NextXMIInstanceHandler"
            commandId="eu.modelwriter.core.alloyinecore.ui.nextxmiinstance">
      </handler>
      <handler
            class="eu.modelwriter.core.alloyinecore.ui.PreviousXMIInstanceHandler"
            commandId="eu.modelwriter.core.alloyinecore.ui.previousxmiinstance">
      </handler>
      <handler
            class="eu.modelwriter.core.alloyinecore.ui.StopIteratingXMIInstanceHandler"
            commandId="eu.modelwriter.core.alloyinecore.ui.stopiteratingxmiinstance">
      </handler>
      <handler
            class="eu.modelwriter.core.alloyinecore.ui.ClearInferredsCacheHandler"
            commandId="eu.modelwriter.core.alloyinecore.ui.clearinferredscache">
      </handler>
      <handler
            class="eu.modelwriter.core.alloyinecore.ui.ClearCacheForSpecificXMIHandler"
            commandId="eu.modelwriter.core.alloyinecore.ui.clearcacheofthisinstance">
      </handler>
      <handler
            class="eu.modelwriter.core.alloyinecore.ui.VisualizeXmiInstance"
            commandId="eu.modelwriter.core.alloyinecore.ui.visualizexmiinstance">
      </handler>
      <handler
            class="eu.modelwriter.core.alloyinecore.ui.ShowOnReflectiveEditor"
            commandId="eu.modelwriter.core.alloyinecore.ui.showreflectiveeditor">
      </handler>
      <handler
            class="eu.modelwriter.core.alloyinecore.ui.OpenWithAIEEditor"
            commandId="eu.modelwriter.core.alloyinecore.ui.openwithaieeditor">
      </handler>
      <handler
            class="eu.modelwriter.core.alloyinecore.ui.OpenWithEcoreEditor"
            commandId="eu.modelwriter.core.alloyinecore.ui.openwithecoreeditor">
      </handler>
      <handler
            class="eu.modelwriter.core.alloyinecore.ui.OpenInstancesModelWithAIEEditor"
            commandId="eu.modelwriter.core.alloyinecore.ui.openinstancesmodelwithaieeditor">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="eu.modelwriter.core.alloyinecore.ui.reasonxmiinstance"
            name="Reason XMI Instance">
      </command>
      <command
            id="eu.modelwriter.core.alloyinecore.ui.restorexmiinstance"
            name="Restore XMI Instance">
      </command>
      <command
            id="eu.modelwriter.core.alloyinecore.ui.nextxmiinstance"
            name="Next XMI Instance Solution">
      </command>
      <command
            id="eu.modelwriter.core.alloyinecore.ui.previousxmiinstance"
            name="Previous XMI Instance Solution">
      </command>
      <command
            id="eu.modelwriter.core.alloyinecore.ui.stopiteratingxmiinstance"
            name="Stop Iterating XMI Instance Solutions">
      </command>
      <command
            id="eu.modelwriter.core.alloyinecore.ui.clearinferredscache"
            name="Clear Inferreds Cache">
      </command>
      <command
            id="eu.modelwriter.core.alloyinecore.ui.clearcacheofthisinstance"
            name="Clear Cache Of This Instance">
      </command>
      <command
            id="eu.modelwriter.core.alloyinecore.ui.visualizexmiinstance"
            name="Visualize Xmi Instance">
      </command>
      <command
            id="eu.modelwriter.core.alloyinecore.ui.showreflectiveeditor"
            name="Show EMF Instance on Reflective Editor">
      </command>
      <command
            id="eu.modelwriter.core.alloyinecore.ui.openwithaieeditor"
            name="Open with AIE editor">
      </command>
      <command
            id="eu.modelwriter.core.alloyinecore.ui.openwithecoreeditor"
            name="Open with ECore editor">
      </command>
      <command
            id="eu.modelwriter.core.alloyinecore.ui.openinstancesmodelwithaieeditor"
            name="Open Instance&apos;s Model with AIE editor">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="active.part.is.editorpart.and.active.editor.is.reflectiveeditor">
         <and>
            <with
                  variable="activePart">
               <instanceof
                     value="org.eclipse.ui.IEditorPart">
               </instanceof>
            </with>
            <with
                  variable="activeEditorId">
               <equals
                     value="org.eclipse.emf.ecore.presentation.ReflectiveEditorID">
               </equals>
            </with>
         </and>
      </definition>
      <definition
            id="active.part.is.editorpart.and.active.editor.is.ecoreeditor">
         <and>
            <with
                  variable="activePart">
               <instanceof
                     value="org.eclipse.ui.IEditorPart">
               </instanceof>
            </with>
            <with
                  variable="activeEditorId">
               <equals
                     value="org.eclipse.emf.ecore.presentation.EcoreEditorID">
               </equals>
            </with>
         </and>
      </definition>
      <definition
            id="active.part.is.editorpart.and.active.editor.is.aieeditor">
         <and>
            <with
                  variable="activePart">
               <instanceof
                     value="org.eclipse.ui.IEditorPart">
               </instanceof>
            </with>
            <with
                  variable="activeEditorId">
               <equals
                     value="eu.modelwriter.core.alloyinecore.ui.editors.AlloyInEcoreEditor">
               </equals>
            </with>
         </and>
      </definition>
      <definition
            id="active.part.is.editorpart.and.active.editor.is.visualizationeditor">
         <and>
            <with
                  variable="activePart">
               <instanceof
                     value="org.eclipse.ui.IEditorPart">
               </instanceof>
            </with>
            <with
                  variable="activeEditorId">
               <equals
                     value="eu.modelwriter.core.alloyinecore.ui.editors.visualizationeditor">
               </equals>
            </with>
         </and>
      </definition>
      <definition
            id="active.part.is.editorpart.and.active.editor.is.visualizationeditor.or.active.editor.is.reflectiveeditor">
         <and>
            <with
                  variable="activePart">
               <instanceof
                     value="org.eclipse.ui.IEditorPart">
               </instanceof>
            </with>
            <or>
               <with
                     variable="activeEditorId">
                  <equals
                        value="eu.modelwriter.core.alloyinecore.ui.editors.visualizationeditor">
                  </equals>
               </with>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.emf.ecore.presentation.ReflectiveEditorID">
                  </equals>
               </with>
            </or>
         </and>
      </definition>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.setting_delegate">
      <factory
            class="eu.modelwriter.core.alloyinecore.ui.editor.instance.DerivedStructuralFeature"
            uri="eu.modelwriter.core.alloyinecore.ui.DerivedStructuralFeature">
      </factory>
   </extension>
   

</plugin>
